<div id="funcionario-page">
    <a href="/funcionarios">Voltar</a>
    <div class="container">
        <h1>{{funcionario.nome}}</h1>
        <p>Nome funcionario: {{funcionario.nome}} {{funcionario.sobrenome}}.</p>
        <p>Idade: {{funcionario.idade}}</p>
        <p>Cidade do funcionario: {{funcionario.cidade}}.</p>
        <p>Escolaridade do funcionario: {{funcionario.cidade}}.</p>
        <p>Setor em que trabalha: {{funcionario.setor}}</p>


        <div class="actions">
            <a href="/funcionarios/edit/{{funcionario.id}}">Editar</a>
            <form action="/funcionarios/remove/{{funcionario.id}}"  method="POST">
            <input type="submit" value="Remover">
            </form>
        </div>

    </div>
</div>